* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    background-color: lavender;
    color: purple;
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
}

#picture {
    height: 100px;
    width: 100px;
    justify-self: left;
}

.name { 
    font-size: xx-large;
}

.jobTitle {
    font-size: x-large;s
}

.my-links-container {
    background-color: orchid;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    padding: 100px;
    overflow: hidden;
}

h2 {
    justify-self: left;
}

.repositories-container {
    justify-self: left;
    background-color: darkorchid;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    padding: 100px;
    overflow: hidden;
}

.skills-container {
    background-color: purple;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    padding: 100px;
    overflow: hidden;
}

li {
    font-family: Lucida Grande;
    font-size: large;
}
.linkIcon {
    width: 100px;
    height: 100px;
}

#email {
    font-size: xx-large
}

#emailIcon {
    height: 100px;
    width: 100px;
}

footer {
    bottom: 0;
    position: fixed;
}